* {
    margin: 0;
}


.grid-container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.item-a{
    grid-column-start: 1;
    grid-column-span: 1;
    grid-row-start: 1;
    grid-row-span: 1;
    background: red;

}

.flex-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:background-image: -webkit-gradient(linear, left top, left bottom, from(#115566), to(#118899));
    background-image: -webkit-linear-gradient(top, #115566, #118899);
    background-image: -moz-linear-gradient(top, #115566, #118899);
    background-image: linear-gradient(to bottom, #115566, #118899);
    display: flex;
    flex-direction: column;
}

.flex-container > div{
    padding: 2em;
}

h1 {
    color: white;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}